:root {
  --main-clr: #9f0809;
  --dark-blue: #0f043b;
  --nav-shadow: 0px 3px var(--main-clr);
  --p-font: "Stylish", sans-serif;
  --title-font: "Love Ya Like A Sister", cursive;
}

body {
  background-color: rgba(0, 0, 0);
}

main {
  background-image: linear-gradient(to right, #050343, #a0090a, #050343);
}

/* filter menu */
.filter-menu {
  display: block;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  color: white;
  margin-top: 50px;
  width: 70%;
  font-size: 20px;
}

.filter-menu .search-episode {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: var(--dark-blue);
  color: white;
  font-size: 20px;
}

::placeholder {
  color: white;
  font-family: var(--p-font);
}

.filter-menu .amount-of-episodes {
  font-family: var(--p-font);
  margin-left: 5px;
  margin-top: 10px;
}

.filter-menu .select-menu {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: var(--dark-blue);
  color: white;
  font-family: var(--p-font);
  margin-bottom: 10px;
  font-size: 20px;
}

/* list with episodes */
.episodes {
  display: block;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  color: white;
  margin-top: 50px;
  width: 90%;
}

.episode {
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.episode img {
  width: 300px;
  height: auto;
  border: 1px solid white;
  border-radius: 20px;
}

.episode h1 {
  width: 300px;
  font-family: var(--title-font);
  font-size: 20px;
  margin-top: 15px;
  text-align: start;
}

.episode p {
  width: 300px;
  padding-top: 5px;
  font-family: var(--p-font);
  font-size: 18px;
}

footer {
  margin: 20px 0;
  font-family: var(--title-font);
  font-size: 18px;
  color: white;
  position: relative;
}

footer p {
  text-align: center;
  padding: 10px 0;
}

footer a {
  text-decoration: none;
  color: var(--main-clr);
  font-weight: 600;
}

footer a:hover {
  text-decoration: underline;
}

footer hr {
  width: 80%;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .filter-menu {
    width: 72%;
  }

  .filter-menu .select-menu {
    width: 30%;
    margin-bottom: 0;
  }

  .filter-menu .select-episode {
    margin-left: 15px;
  }

  .filter-menu .search-episode {
    margin-left: 15px;
    width: 30%;
  }

  .filter-menu .amount-of-episodes {
    margin-left: 15px;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
  }

  footer hr {
    display: none;
  }
}

@media (min-width: 854px) {
  .episodes {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .filter-menu .search-episode {
    width: 250px;
  }
}
