:root {
  --main-clr: #9f0809;
  --dark-blue: #0f043b;
  --nav-shadow: 0px 3px var(--main-clr);
  --p-font: "Stylish", sans-serif;
  --title-font: "Love Ya Like A Sister", cursive;
}

body {
  background-color: rgba(0, 0, 0);
}

main {
  background-image: linear-gradient(to right, #050343, #a0090a, #050343);
}
.not-active {
  display: none;
}

.webpagePath {
  display: block;
  margin: 0 auto;
  width: 72%;
  color: white;
  font-family: var(--p-font);
  font-size: 20px;
  list-style: none;
  display: flex;
  margin-top: 70px;
}

.webpagePath li {
  padding: 0 5px;
  cursor: pointer;
}

.webpagePath li:hover {
  text-decoration: underline;
}

.shows {
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 50px;
  width: 80%;
  /* margin-bottom: 50px; */
}

.shows .show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.shows .info-about-show {
  margin: 15px 0;
}

.shows img {
  width: 240px;
  height: auto;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.shows img:hover {
  color: #0f043b;
  border: 2px solid #0f043b;
  box-shadow: 0 0 10px 5px;
}

.shows h1 {
  font-family: var(--title-font);
  font-size: 26px;
  margin-top: 15px;
  cursor: pointer;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.show h1::after {
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 99px;
  background: white;
  background: #0f043b;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.shows h1:hover::after {
  width: 100%;
}

.shows h1:hover {
  color: #0f043b;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 1.7px;
  border-radius: 99px;
  background: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.shows p {
  font-family: var(--p-font);
  font-size: 18px;
  text-align: justify;
}

/* filter menu */
.filter-menu {
  display: block;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  color: white;
  margin-top: 30px;
  width: 70%;
  font-size: 20px;
}

.filter-menu .search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: var(--dark-blue);
  color: white;
  font-size: 20px;
}

::placeholder {
  color: white;
  font-family: var(--p-font);
}

.filter-menu .amount-of-episodes,
.amount-of-shows,
p {
  font-family: var(--p-font);
  margin-left: 5px;
  margin-top: 10px;
}

.filter-menu .select-menu {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: var(--dark-blue);
  color: white;
  font-family: var(--p-font);
  margin-bottom: 10px;
  font-size: 20px;
}

/* list with episodes */
.episodes {
  display: block;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  color: white;
  margin-top: 50px;
  width: 90%;
}

.episode {
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.episode img {
  width: 300px;
  height: auto;
  border: 1px solid white;
  border-radius: 20px;
}

.episode h1 {
  width: 300px;
  font-family: var(--title-font);
  font-size: 20px;
  margin-top: 15px;
  text-align: start;
}

.episode p {
  width: 300px;
  padding-top: 5px;
  font-family: var(--p-font);
  font-size: 18px;
}

footer {
  margin: 20px 0;
  font-family: var(--title-font);
  font-size: 18px;
  color: white;
  position: relative;
}

footer p {
  text-align: center;
  padding: 10px 0;
}

footer a {
  text-decoration: none;
  color: var(--main-clr);
  font-weight: 600;
}

footer a:hover {
  text-decoration: underline;
}

footer hr {
  width: 80%;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .shows {
    width: 72%;
  }

  .shows .show {
    flex-direction: row;
    align-items: flex-start;
    margin: 20px 0;
  }

  .shows h1 {
    margin: 0;
  }

  .shows .div2 {
    margin-left: 20px;
  }

  .filter-menu {
    width: 72%;
  }

  .filter-menu .select-menu {
    width: 30%;
    margin-bottom: 0;
  }

  .filter-menu .select-episode {
    margin-left: 15px;
  }

  .filter-menu .search-input {
    margin-left: 15px;
    width: 30%;
  }

  .filter-menu .amount-of-episodes {
    margin-left: 15px;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
  }

  footer hr {
    display: none;
  }
}

@media (min-width: 854px) {
  .episodes {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .filter-menu .search-episode {
    width: 250px;
  }
}
